<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
    <div class="f-text"><a class="linkcolor" href="#">À propos</a></div>
    <div class="f-text"><a class="linkcolor" href="#">Nous contacter</a></div>

  <div class="footer-copyright">
    Copyright © 2023 Starts Up, tous droits réservés.
  </div>
    <div class="fa-3x" >
      <img src="/app/assets/images/logo_footer.png/">

    </div>
</div>
