<h1>Bienvenue Bérengère</h1>
<div class="container">
  <div class="card">
    <h3>Événements</h3>
    <%= link_to "Ajouter un événement", new_evenement_path %>
  </div>
  <div class="card">
    <h3>Événements à venir</h3>
    <%= link_to "Ajouter un événement à venir" %>
  </div>
    <div class="card">
  <h3>Offres d'emploi</h3>
    <%= link_to "Ajouter une offre d'emploi" %>
    </div>
  <div class="card">
    <h3>Membres contact</h3>
    <%= link_to "Ajouter un membre" %>
  </div>
  <div class="card">
    <h3>Cotisations</h3>
  </div>
</div>





</div>
